{{yield}}

<h2>Menu</h2>
<ul class='list-group'>
  <li class="list-group-item">{{#link-to 'application'}}Página Inicial{{/link-to}}</li>
  <li class="list-group-item">{{#link-to 'consulta'}}Consultar{{/link-to}}</li>
</ul>
